* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #7bb9ff;
  background-size: cover;
  color: white;
}

.weather-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  outline: 1px solid white;
  padding: 0 50px;
  align-items: center;
}

.info-container {
  background-color: rgba(0, 0, 0, 0.25);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.25);
}

#location-marker {
  height: 3rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.25);
  height: 50px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #c7c7c7;
}

.footer a:visited {
  color: #adf3ff;
}

.footer a:visited:hover {
  color: #91ccd6;
}
